.main_profile_blockHeader {
    max-width: 911px;
    background-color: white;
    border-radius: 10px;
    height: 350px;
  }
  .main_backgroundProf {
    position: absolute;
    width: 100%;
    height: 227px;
    border-radius: 10px;
  }
  .main_wrap_avatar {
    position: absolute;
    margin-top: 160px;
    margin-left: 20px;
    z-index: 2;
  }
  
  .main_item_avatar {
    max-width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
  }
  .main_profileHeader {
    background-color: white;
    width: 100%;
    height: 138px;
    position: absolute;
    top: 210px;
    border-radius: 10px;
    z-index: 1;
  }
  .main_profileHeader_user {
    width: 300px;
    height: 100px;
    position: absolute;
    left: 150px;
    top: 15px;
  }
  .user_name {
    font-size: 16px;
  }
  
  .main_profileHeader_editProfile {
    position: absolute;
    right: 10px;
    top: 30px;
  }
  .editProfile_button {
    margin-left: 10px;
    font-size: 12px;
    border-radius: 6px;
    background-color: rgb(227, 229, 232);
    color: rgb(13, 150, 208);
    border: 1px solid white;
    width: 189px;
    height: 25px;
  }
  .editProfile_button_more {
    position: relative;
    width: 81px;
  }
  .more_arrow {
    position: absolute;
    top: 4px;
    right: 17px;
  }