.main_block_wrap {
  max-width: 1920px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
 .main_item {
  position: absolute;
  max-width: 1040px;
  height: auto;
  // border: 1px solid red;
  
} 


