.main_block_wrap {
  max-width: 1920px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
 .main_item {
  position: absolute;
  min-width: 1040px;
  height: auto;
  
} 
/* @media (max-width:1200px) {
  .main_item{
    width: 100%;
  }
} */

