 .dialogsWrapper{
    width:910px;
    height: 550px;
    border: 1px solid red;
    position: relative;
    top: 10px;
    margin-left: 125px;
 }
 .dialogsItem{
    position: relative;
    border: 1px solid blue;
 }